<ng-container *ngIf="itemData">
  <a class="item" [routerLink]="itemData.routePath">
    <!-- <a class="item" [routerLink]="'/movie/' + itemData.id"> -->
    <div class="item-rating">
      <i class="app-icon">star</i>
      <span>{{ itemData.vote_average | number : '1.0-1' }}</span>/10
    </div>
    <div class="image-container">
      <div class="item-image">
        <!-- <img [src]="imageSizes.medium + itemData.poster_path" [alt]="itemData.title" /> -->
        <ng-container *ngIf="itemData.poster_path !== null; then poster; else default"></ng-container>
        <ng-template #poster>
          <img [src]="imageSizes.medium + itemData.poster_path" alt="Poster" />
        </ng-template>
        <ng-template #default>
          <img src="assets/missing.jpg" class="default-poster" alt="Poster not available" />
        </ng-template>
      </div>
    </div>
    <div class="item-title">{{ itemData.title }}</div>
    <div class="item-date">{{ itemData.release_date | date : 'mediumDate' }}</div>
  </a>
</ng-container>