<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img src="https://image.tmdb.org/t/p/w500/uJYYizSuA9Y3DCs0qS4qWvHfZg4.jpg" alt="" />
    </div>
    <div class="slide-pane">
      <h2 class="name">Spider-Man: No Way Home</h2>
      <div class="meta">
        <div class="info">
          <span class="rating"> <span>star</span><span class="rating">8.5</span> </span><span>/10</span>
          <span>463 Reviews</span>
          <span>2021</span>
        </div>
      </div>
      <div class="desc">
        "Peter Parker is unmasked and no longer able to separate his normal life from the high-stakes of being a
        super-hero. When he asks for help from Doctor Strange the stakes become even more dangerous, forcing him to
        discover what it truly means to be Spider-Man."
      </div>
    </div>
  </div>
</div>
