<ng-container *ngIf="movie">
  <slider [items]="[movie]" [isBanner]="true"> </slider>
  <p-tabView class="main">
    <p-tabPanel header="Overview">
      <div class="grid">
        <div class="col-12 md:col-3 lg:col-3">
          <img class="poster" [src]="imageSizes.medium + movie.poster_path" [alt]="movie.title" />
        </div>
        <div class="col-12 md:col-9 lg:col-9">
          <h2>Overview</h2>
          <p class="overview">{{ movie.overview }}</p>
          <div class="stats">
            <div class="label">Release Date:</div>
            <div class="value">{{ movie.release_date | date: 'MM/dd/yyyy' }}</div>
          </div>
          <div class="stats">
            <div class="label">Language:</div>
            <div class="value">{{ movie.original_language }}</div>
          </div>
          <div class="stats">
            <div class="label">Budget:</div>
            <div class="value">{{ movie.revenue | currency: 'USD':'symbol':'1.0' }}</div>
          </div>
          <div class="stats">
            <div class="label">Runtime:</div>
            <div class="value">{{ movie.runtime }} Minutes</div>
          </div>
          <div class="stats">
            <div class="label">Status:</div>
            <div class="value">{{ movie.status }}</div>
          </div>
          <div class="stats">
            <div class="label">Genres:</div>
            <div class="value">
              <span *ngFor="let genre of movie.genres"> {{ genre.name }} </span>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Videos">
      <div class="grid">
        <ng-container *ngFor="let movieVideo of movieVideos">
          <div class="col12 md:col-4 lg:col-4">
            <video-embed [key]="movieVideo.key" [site]="movieVideo.site"></video-embed>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Images">
      <div class="grid">
        <ng-container *ngFor="let movieImage of movieImages">
          <div class="col12 md:col-4 lg:col-4">
            <p-image
              [src]="imageSizes.large + movieImage.file_path"
              alt="Image"
              width="100%"
              [preview]="true"
            ></p-image>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Reviews">
      <div class="review">
        <ng-container *ngFor="let movieReview of movieReviews">
          <div class="review-card">
            <div class="review-details">
              <h3>
                <a [href]="movieReview.url">A review by {{ movieReview.author }}</a>
              </h3>
              <i class="app-icon">star</i>
              <span>{{ movieReview.author_details.rating | number: '1.1-1' }}</span>
            </div>
            <div class="review-content">
              <p>
                {{ movieReview.content }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- <pre>
        {{ movieReviews | json }}
      </pre> -->
    </p-tabPanel>
  </p-tabView>
</ng-container>

<!-- <pre>
    {{ movie | json }}
</pre> -->
