// The styles from PrimeNG are abstracted from the user so you cannot change them directly by selecting the class.
// In order to change the styles you need to use :host ::ng-deep

@import '../../../styles/colors';

:host ::ng-deep {
  // --lh: 1.5rem;
  // line-height: var(--lh);

  .p-tabview-nav {
    justify-content: center;

    li {
      .p-tabview-nav-link {
        background: $bgColor;
      }

      &.p-highlight .p-tabview-nav-link {
        // background: $bgColor;
      }
    }
  }
  .p-tabview {
    margin: 0 5%;
    // background-color: black;
  }
  .p-tabview-panels {
    padding: 0;
    background-color: $bgColor;
  }

  .p-carousel-content {
    margin: 0 5%;
  }

  .p-carousel-header {
    margin: 0 5%;
  }
  .p-carousel-item {
    // display: flex;
    // border: solid 5px green;
    // flex-direction: column;
    // justify-content: space-between;
  }
}

.poster {
  max-width: 100%;
}
.overview {
  line-height: 1.5;
}

.stats {
  display: flex;
  margin-bottom: 15px;

  .label {
    width: 150px;
    font-weight: bold;
  }

  .value {
    color: $primaryColor;
  }
}

#cast {
  margin: 0 5%;
}

.actor {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  img {
    width: 100%;
    // height: auto;
  }

  .actorName {
    font-weight: bold;
    margin: 15px 0 0 0;
  }
}

.avatar {
  padding: 25% 0;
  background-color: white;
  filter: invert(100%);
}

.review-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .app-icon {
    margin: 0 5px 0 15px;
    color: #d4af37;
  }
}

.review-content {
  line-height: 1.5rem;
}
