<slider [items]="popularMovies"> </slider>
<items-banner [items]="upcomingMovies" title="Upcoming Movies"></items-banner>
<items-banner [items]="topRatedMovies" title="Top-Rated Movies"></items-banner>
<items-banner [items]="popularShows" title="Popular Shows"></items-banner>
<items-banner [items]="latestShows" title="Latest Shows"></items-banner>
<items-banner [items]="topRatedShows" title="Top-Rated Shows"></items-banner>
<!-- The <pre> tag displays preformatted text exactly as written in the source  -->
<!-- <pre>{{ movies | json }}</pre> -->
